@page
@model IndexModel
@{
	ViewData["Title"] = "Address Book";
}

<h1>Address Book Entries</h1>

<div class="container-fluid">
	<a asp-page="Create">Create New Entry</a>

	<ul class="list-group">
		@foreach (var entry in Model.AddressBookEntries)
		{
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-8">
						@($"{entry.Line1} " +
						$"{entry.City}, {entry.State} {entry.PostalCode}")
					</div>
					<div class="col-md-2">
						<a asp-page="Edit"
							asp-route-id="@entry.Id">
							Edit
						</a>
					</div>
					<div class="col-md-2">
						<a asp-page="Delete"
							asp-route-id="@entry.Id">Delete</a>
					</div>
				</div>
			</li>
		}
	</ul>
</div>